<html>
    <head>
        <title>MAPPA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    
    </head>

    <body>
        <p class = "scritte">IIS L. Galvani - Milano</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11186.782803271182!2d9.18691194360718!3d45.49607220659526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c0ce056761b9%3A0xc227b63bef9aef37!2sIIS%20Luigi%20Galvani!5e0!3m2!1sit!2sit!4v1678707871849!5m2!1sit!2sit" width={{larghezza}} height={{larghezza}} style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>{{ora}}</p>
    </body>
</html>